<o-bar-menu title="APP_TITLE">

  <o-bar-menu-group title="VIEW">
    <o-bar-menu-item title="HOME" icon="home" route="/main/home"></o-bar-menu-item>
  </o-bar-menu-group>

  <o-bar-menu-group title="OPTIONS">
    <o-bar-menu-group title="LANGUAGE">
      <o-locale-bar-menu-item title="English" locale="en"></o-locale-bar-menu-item>
      <o-locale-bar-menu-item title="Español" locale="es"></o-locale-bar-menu-item>
    </o-bar-menu-group>
    <o-bar-menu-separator></o-bar-menu-separator>
    <o-bar-menu-item title="LOGOUT" icon="power_settings_new" route="/login" confirm="MESSAGES.CONFIRM_LOGOUT"></o-bar-menu-item>
  </o-bar-menu-group>

</o-bar-menu>