.login-outer-container {
  min-height: 640px;

  .login-inner-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 450px;
    padding: 8em 5em 5em;

    h1 {
      text-align: center;
      margin-bottom: 30px;
    }

    .logo-container {
      border-radius: 50%;
      width: 150px;
      height: 150px;
      position: absolute;
      top: -75px;
      left: 50%;
      -webkit-transform: translate(-50%, 0%);

      img {
        max-height: 125px;
        max-width: 125px;
      }
    }

    .session-expired {
      text-align: center;
    }

    button {
      width: 100%;
      margin: 30px 0 0;
    }

    .dark_text {
      color: #c5c5c5;
      font-size: 9pt;
    }

    .title_text {
      color: #7b7a79;
      font-size: 10pt;
      font-weight: bold;
    }

  }
}
