@import 'node_modules/@angular/material/theming';
@mixin login-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .login-outer-container {
    background-color: mat-color($background, background);

    .login-inner-container {
      background-color: mat-color($background, dialog);

      .logo-container {
        background-color: mat-color($background, dialog);
      }

      .session-expired {
        color: #f44336;
      }
    }
  }
}
