/*
******* @angular/material predefined themes. *****

* Choose one of the following imports
*/
// @import 'node_modules/ontimize-web-ngx-theming/src/themes/md-indigo-pink.scss';
// @import 'node_modules/ontimize-web-ngx-theming/src/themes/md-deeppurple-amber.scss';
// @import 'node_modules/ontimize-web-ngx-theming/src/themes/md-pink-bluegrey.scss';
// @import 'node_modules/ontimize-web-ngx-theming/src/themes/md-purple-green.scss';
// @import 'node_modules/ontimize-web-ngx-theming/src/themes/o-indigo-pink.scss';
// @import 'node_modules/ontimize-web-ngx-theming/src/themes/o-deeppurple-amber.scss';
// @import 'node_modules/ontimize-web-ngx-theming/src/themes/o-pink-bluegrey.scss';
// @import 'node_modules/ontimize-web-ngx-theming/src/themes/o-purple-green.scss';
@import 'node_modules/ontimize-web-ngx-theming/src/themes/ontimize.scss';

@import 'ontimize-theme.scss';
@include ontimize-theme($theme);

/*
* After define theme, it is necessary to transfer color to Ontimize Web framework
*/
@import 'node_modules/ontimize-web-ngx/ontimize/components/theming/all-theme.scss';
@include o-material-theme($theme);

/*
* Propagate theme to screen styles definition.
*/
@import '../../app/login/login.theme.scss';
@include login-theme($theme);


/*
* Other app styles
*/

.no-padding {
  padding: 0px !important;
}

.customer-picture{
  .input-image {

    .input-image-preview {
      width: 200px;
      height: 200px;
    }
  }
}